<div class="result-ctn">
  <% artistArray.forEach(artist => { %>
  <div class="card">
    <% if (typeof artist.images[0] !== 'undefined') { %>
    <img src="<%- artist.images[0].url %> " alt="" />
    <% } %>

    <h2><%- artist.name %></h2>
    <a href="/albums/<%- artist.id %> ">View album</a>
  </div>
  <% }) %>
</div>
