<div class="main-ctn">
  <form method="GET" action="/artist-search">
    <label>
      <input type="text" name="searchTerm" placeholder="The Beatles" />
    </label>
    <button type="submit">Search for an artist</button>
  </form>
</div>
